
.icon-icons8-linkedin:before { content: '\e800'; } /* '' */
.icon-icons8-github:before { content: '\e801'; } /* '' */
.icon-icons8-instagram:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
